@charset 'UTF-8';
body {
    font-family:  "OpenSans";
    background:  #F0F4F6;
    font-size: 100%;
    line-height: 1.6px;
    color: #000;
}
/*PAGE*/
.page {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    background: #fff;
    height: 1000px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
.container:after {
    clear: both;
}
/*HEADER*/
.header {
    background:  url("img/1.jpg") repeat no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}


.header_nav {
        padding: 0;
        margin: 20px;
        font-size: 100%;
        display: table;
        margin-left: auto;
        margin-right: auto;
        border-top: 5px solid #EF453A;
        border-radius: 5px;
        box-shadow: 0 0 2px #000;
        background: #F5F5F5;
        }
.header_nav li {
        list-style: none;
        float: left;
        height: 40px;
        padding: 0;
        margin: 0;
        text-align: center;
        
        position: relative;
        padding: 15px 25px 0px 25px;

        }
.header_nav li ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        position: absolute;
        left: 0;
        top: 40px;
        }
.header_nav li ul li {
        float: none;
        height: 33px;
        margin: 0;
        width: 150px;
        text-align: center;
        background: #F5F5F5
        }
.header_nav li a {
        display: block;
        /*height: 33px;*/
        color: #661610;
        text-decoration: none;
        line-height: 10px;
        }
.header_nav li:hover ul, .header_nav li.jshover ul {
        display: block;
        }
/*CONTENT*/
.left {
    float: left;
    width: 30%;
    height: 500px;

}
.ticket-config .cf-line {
    margin: 0 0 20px;
}
.right {
    float: right;
    width: 70%;
    height: 600px;
    
}